@model IEnumerable<Blog.Web.Models.CommentViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Index", "Comment", FormMethod.Get))
{
    <h2>Comment</h2>
    <b>Search By:</b>
    @Html.RadioButton("SearchBy", "Content", true)
    <text>Content</text>
    <br>

    @Html.TextBox("search", "", htmlAttributes: new { @class = " w-50 form-control" })
    <input type="submit" value="Search" class="btn btn-success" />

    <div class="table">
        <div class="col-header">
            @Html.ActionLink("Add Comment", "AddComment", null, new { @class = "btn" })
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastModified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastModifiedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommentId)
                </th>
                <th>
                    Actions
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastModified)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastModifiedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CommentId)
                    </td>
                    <td>
                        <div class="col">
                            @Html.ActionLink("Edit", "EditComment", new { id = item.CommentId })
                            @Html.ActionLink("Delete", "DeleteComment", new { id = item.CommentId })
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}